.tabs {
  position: absolute;
  right: 5rem;
  top: 10rem;
  height: 22rem;
  z-index: 10;
  background-color: #fff;
  width: 420px;
  border-radius: 10px;
}
.ant-tabs-nav-animated {
  font-size: 18px !important;
}
.ant-tabs-nav-scroll {
  text-align: center;
}
.ant-tabs {
  width: 25rem;
}
.ant-tabs-content {
  margin-top: 30px;
}
.ant-btn-primary {
  margin-left: 10px;
  margin-top: 15px;
  width: 390px;
  height: 45px !important;
  border-radius: 30px !important;
}
