.wrapper {
  height: 596px;
  .card {
    margin: 30px;
    padding: 20px 40px;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    .leftContent {
      flex-basis: 50%;
      .position {
        color: rgb(93, 213, 200);
        margin: 10px 0;
        font-size: 18px;
      }
      .line {
        margin: 0 10px;
      }
      .salary {
        color: red;
        font-size: 18px;
      }
      .contact {
        background-color: #f0f0f0;
        padding: 5px 10px;
        border-radius: 20px;
        margin-left: 10px;
        svg {
          color: rgb(93, 213, 200);
          height: 16px;
          margin-right: 3px;
        }
      }
    }
    .rightContent {
      position: relative;
      flex-basis: 50%;
      .company {
        color: rgb(93, 213, 200);
        margin: 10px 0;
        font-size: 18px;
      }
      span {
        margin-right: 10px;
      }
      .noPass {
        position: absolute;
        right: -20px;
        bottom: 0;
        color: red;
        font-size: 17px;
      }
      .pass {
        position: absolute;
        right: -20px;
        bottom: 0;
        color: rgb(93, 213, 200);
        font-size: 17px;
      }
    }
  }
  .noCard {
    height: 100%;
    background-color: #fff;
    margin: -20px -40px;
    position: relative;
    .bg {
      height: 200px;
      width: 200px;
      background: url(../../../../statics/warning.jpg);
      background-size: 100%;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .message {
      text-align: center;
      position: absolute;
      font-size: 18px;
      top: 65%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
