.wrapper {
  .header {
    .select {
      display: flex;
      justify-content: space-between;
      text-align: center;
      padding: 10px 0;
    }
    .search {
      input {
        height: 50px;
      }
      button {
        height: 50px;
        width: 6rem;
        background-color: rgb(93, 213, 200);
        border: none;
      }
    }
  }
  .card {
    cursor: pointer;
    padding: 20px 40px;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    margin: 0 20px 20px 20px;
    .leftContent {
      flex-basis: 50%;
      .position {
        color: rgb(93, 213, 200);
        margin: 10px 0;
        font-size: 18px;
      }
      .line {
        margin: 0 10px;
      }
      .salary {
        color: red;
        font-size: 18px;
      }
      .contact {
        background-color: #f0f0f0;
        padding: 5px 10px;
        border-radius: 20px;
        margin-left: 10px;
        svg {
          color: rgb(93, 213, 200);
          height: 16px;
          margin-right: 3px;
        }
      }
    }
    .rightContent {
      flex-basis: 50%;
      .company {
        color: rgb(93, 213, 200);
        margin: 10px 0;
        font-size: 18px;
      }
      span {
        margin-right: 10px;
      }
    }
  }
}
