.content {
  margin: 40px;
  padding: 40px 20px;
  background-color: white;
  border-radius: 20px;
  .title {
    text-align: center;
  }
  .contentItem {
    padding: 10px 20px;
    font-size: 18px;
    font-family: fantasy;
  }
}
