@import "~antd/dist/antd.css";
body {
  background-color: rgba(55, 180, 230, 0.8);
}

.header {
  font-size: 30px;
  height: 5rem;
  line-height: 5rem;
  padding-left: 15px;
  background-color: #fff;
}
