.wrapper {
    margin: 40px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    .header {
      font-size: 22px;
      color: rgb(93, 213, 200);
      font-weight: bold;
      text-align: center;
    }
    .content {
      padding: 20px;
      font-size: 17px;
      display: flex;
      .leftContent {
        width: 50%;
      }
      .rightContent {
        width: 50%;
      }
    }
    .flexContent {
      padding: 20px;
      font-size: 17px;
      display: flex;
      .halfWidth {
        width: 50%;
      }
    }
    .allWidth{
      padding: 0 20px;
      font-size: 17px;
    }
  }
  